<ion-header [translucent]="false">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click) = "disconnectclick()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      FeatherWing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ng-container *ngFor="let sensor of this.ble.sensors">
      <ion-list-header>
        <div class="seperateitems">
          <ion-label class="sensorname">
            {{sensor.getSensorName()}}
          </ion-label>
          <ion-button  (click)="showmodel(sensor)" *ngIf="sensor['getModel']">
            {{ 'FeatherWingTab.showmodel' | translate }}
          </ion-button>
        </div>
        <div class="seperateitems" *ngIf="sensor.getUpdateInterval() != undefined">
          <ion-label color="medium" class="updateintervalabel">
            {{ 'FeatherWingTab.sensorupdateinterval' | translate }} : {{sensor.getUpdateInterval() / 1000}} s
          </ion-label>
          <ion-button  (click)="editinterval(sensor)">
            {{ 'FeatherWingTab.editupdateinterval' | translate }}
          </ion-button>
        </div>
        <div class="ion-margin-start seperateitems" style="padding: 5px;" (click)="allattributesclick(sensor)">
          <ion-label>
            <span class="attrname">{{ 'FeatherWingTab.graphallattributes' | translate }}</span>
            <ion-icon class="attrgraphicon" name="chevron-forward-outline"></ion-icon>
          </ion-label>
        </div>
      </ion-list-header>
      <ion-item class="ion-margin-start no-ripple" *ngFor="let attribute of sensor.getAttributes() | keyvalue" >
        <ion-grid>
          <ion-row class="ion-align-items-center ion-justify-content-between" (click)="attributeclick(attribute.value)">
            <ion-label>
              <span class="attrname">{{'SensorAttributes.' + attribute.value.getAttributeName() | translate}}</span>
              <ion-icon class="attrgraphicon" *ngIf="attribute.value.isEvent() == false" name="chevron-forward-outline"></ion-icon>
            </ion-label>
            <ion-label class="ion-text-center" *ngIf="attribute.value.isEvent() == false" [innerText]="attribute.value.getCurrentAttributeString()">
            </ion-label>
            <ion-radio-group *ngIf="attribute.value.isEvent() == true" style="pointer-events: none;" [value]="attribute.value.getCurrentValue().getData()">
              <ion-radio [value]="true">
              </ion-radio>
            </ion-radio-group>
          </ion-row>
          <ion-row class="ion-text-center ion-align-items-center" style="min-height: 42px;" *ngIf="attribute.value.isEvent() == false">
            <ion-label color="medium">{{ 'FeatherWingTab.thresholds'| translate }}:</ion-label>
            <ion-chip *ngFor="let threshold of attribute.value.getThresholds() | keyvalue">
              <ion-label>
                {{ 'FeatherWingTab.ThresholdTypes.' + ThresholdType[threshold.key] | translate }}
                {{ attribute.value.getAttributeValueString(threshold.value) }}
              </ion-label>
              <ion-icon name="close" size="small" (click)="attribute.value.removeThreshold(threshold.key)"></ion-icon>
            </ion-chip>
            <ion-icon (click)="addThreshold(attribute.value)" color="primary" size="large" name="add-circle"></ion-icon>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ng-container>
  </ion-list>

</ion-content>
