ion-list-header{
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
}
ion-list{
    padding-bottom: 20px;
}
.sensorname{
    font-weight: bold;
}

.seperateitems{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.updateintervalabel{
    font-size: medium;
}

.attrgraphicon{
    display: inline-block;
    vertical-align: middle;
}

.attrname{
    font-size: medium;
    display: inline-block;
    vertical-align: middle;
}
